.App {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  
}
label {
  width: 350px;
  box-sizing: border-box;
}
